::selection {
	background-color: #0077b6 !important;
	color: #fff !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #ebebeb;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #6d6d6d;
}

html {
	position: relative;
	min-height: 100%;
}

.table {
	overflow-x: scroll;

}

.table td, .table th {
	vertical-align: middle;
	margin-bottom: 10px;
	border: none;
}

.table thead tr,
.table thead th {
	border: 1px solid #eee;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: transparent;
}

.table td {
	background: #fff;
}

.table td:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.table td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}



.avatar-sm {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 0.83333rem;
	line-height: 1.5;
}

.avatar-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.avatar-blue {
	background-color: #c8d9f1;
	color: #467fcf;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	top: 28px;
	left: 14px;
	border: none;
	box-shadow: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
	padding-left: 48px;
}

table.dataTable>tbody>tr.child ul.dtr-details {
	width: 100%;
}

table.dataTable>tbody>tr.child span.dtr-title {
	min-width: 50%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
	padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
	margin-bottom: 0;
}

@media (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		-ms-flex-pack: center !important;
		justify-content: center !important;
		margin-top: 1rem;
	}
}

.btn-icon {
	background: #fff;
}

.btn-icon .bx {
	font-size: 20px;
}

.btn .bx {
	vertical-align: middle;
	font-size: 20px;
}

.dropdown-menu {
	padding: 0.25rem 0;
}

.dropdown-item {
	padding: 0.5rem 1rem;
}

.badge {
	padding: 0.5em 0.75em;
}

.badge-success-alt {
	background-color: #d7f2c2;
	color: #7bd235;
}

.table a {
	color: #212529;
}

.table a:hover,
.table a:focus {
	text-decoration: none;
}

table.dataTable {
	margin-top: 12px !important;
}

.icon>.bx {
	display: block;
	min-width: 1.5em;
	min-height: 1.5em;
	text-align: center;
	font-size: 1.0625rem;
}

.btn {
	font-size: 0.9375rem;
	font-weight: 500;
	padding: 0.5rem 0.75rem;
}

.avatar-blue {
	background-color: #c8d9f1;
	color: #467fcf;
}

.avatar-pink {
	background-color: #fcd3e1;
	color: #f66d9b;
}

body {
	font-family: 'Nunito Sans', sans-serif !important;
}

.n-b {
	visibility: hidden;
}

.navbar {

	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
}

.breadcrumb {

	visibility: hidden;
}

.transform-animation {
	transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
}

.dashboard-layout {
	background-color: #023047;
	height: 100vh;
	display: grid;
	display-template-columns: 1fr;
	display-template-rows: 1fr;
	grid-template-areas: "main";
}

@media (min-width: 768px) {
	.dashboard-layout {
		grid-template-columns: 240px 1fr;
		grid-template-areas: "sidebar main";
	}
}

.dashboard-layout .header {
	background: blue;
}

.dashboard-layout .sidebar {
	display: none;
	grid-area: sidebar;
	height: 100%;
	width: 240px;
	position: fixed;
	overflow-y: auto;
	background-color: #023047;
}

@media (min-width: 768px) {
	.dashboard-layout .sidebar {
		position: static;
		display: block;
	}
}

.dashboard-layout .sidebar.show {
	display: block;
}

.dashboard-layout .sidebar .sidebar-heading {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	padding: 1rem;
	padding-bottom: 0.25rem;
	margin: 0;
}

.dashboard-layout .sidebar .nav .nav-item .nav-link {
	display: flex;
	align-items: center;
	color: rgba(255, 255, 255, 0.7);
}

.dashboard-layout .sidebar .nav .nav-item .nav-link i {
	display: flex;
	height: 2rem;
	width: 2.5rem;
	font-size: 1.5rem;
}

.dashboard-layout .sidebar .nav .nav-item .nav-link.active {
	color: white;
	font-weight: bold;
}

.dashboard-layout .main {
	background: white;
	grid-area: main;
}

.dashboard-layout .main.sidebar-opened {
	transform: translateX(240px);
	overflow: hidden;
	position: fixed;
}

@media (min-width: 768px) {
	.dashboard-layout .main.sidebar-opened {
		transform: none;
		overflow: visible;
		position: static;
	}
}